<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @cart %>

    <%= link_to "Edit this cart", edit_cart_path(@cart), 
      class: 'ml-4 rounded-lg py-1 px-2 text-white bg-green-600' %>
    <%= link_to "Back to carts", carts_path, 
      class: 'ml-4 rounded-lg py-1 px-2 text-white bg-green-600' %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this cart", @cart, method: :delete, 
        class: 'ml-4 rounded-lg py-1 px-2 text-white bg-green-600' %>
    </div>
  </div>
</div>
